<header class="header">
    <div class="container">
      <app-wide-logo></app-wide-logo>
      <div class="row">
        <div class="columns large-8 large-offset-2">
          <h2 class="headline">Empower your business with advanced algorithms and AI</h2>
          <div class="actions">
            <a class="button button-large button button-outline button-info" routerLink="register">
              <fa-icon icon="user-plus"></fa-icon> Sign up
            </a>
            <a class="button button-large button button-outline button-primary" routerLink="login">
              <fa-icon icon="sign-in-alt"></fa-icon> Login
            </a>
          </div>
        </div>
      </div>
    </div>
  </header>
  <div class="row">
    <div class="container">
      <h3>What is BlackBox?</h3>
      <p>BlackBox.Market is an open realtime-bidding based marketplace for smart services. Service providers share and
        monetize their services. Customers discover and use ready solutions to empower their bussiness.</p>
    </div>
  </div>